body {
    background: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
}

nav {
    height: 7vh;
}

main {
    height: 93vh;
    display: grid;
    place-items: center;
}

form {
    padding-top: 20px;
}

form input, form select {
    margin-bottom: 10px;
}

main .div-botao {
    display: grid;
    place-items: center;
}

main .botao {
    height: 33px;
    width: 90%;
}

.alinharLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}