body {
  background: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
}

nav {
  height: 7vh;
}

main {
  height: 93vh;
  display: grid;
  place-items: center;
}

.box {
  background-color: #f1f1f1;
  width: 30vw;
}

.form-control {
  background-color: #e1e1e1;
}

.div-botao {
  display: grid;
  place-items: center;
}

.botao {
  height: 40px;
  width: 90%;
}

form a {
  color: #01b4bd;
  float: right;
  text-decoration: none;
}

.error {
  margin-top: 30px;
}

.alinharLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px){
  .box {
    width: 70vw;
  }
}