body {
    background: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
}

nav {
    height: 7vh;
}

main {
    height: 93vh;
    display: grid;
    place-items: center;
}

main div{
    width: 80vw;
}

main p {
    text-align: justify;
    padding-bottom: 20px;
}

@media (max-width: 600px){
    main div {
        margin: 40px 0;
        width: 99vw;
    }
}