body {
    background: linear-gradient(45deg, #21d4fd 0%, #b721ff 100%);
}

nav {
    height: 7vh;
}

main {
    height: 93vh;
    display: grid;
    place-items: center;
}

.detalhes {
    display: none;
    min-width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

ul {
    list-style: none;
}

.alinhar {
    display: grid;
    place-items: center;
}

#btnFechar {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.alinharLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .detalhes {
        width: 99vw;
    }

    .alinhar {
        display: block;
    }

    li{
        max-height: 10vh;
    }
}